.calc {
  font-family: 'Orbitron', sans-serif;
  height: 410px;
  width: 300px;
  background-color: #dfd8d0;
  border: 2px solid #908b85;
  border-radius: 20px;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68),
    inset -1px -6px 12px 0.1px #89847e;
  box-sizing: border-box;
}

.header {
  margin-top: 20px;
  text-align: center;

  h1 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.display {
  color: #3a3a3a;
  width: 85%;
  height: 65px;
  background-color: #c3c2ab;
  margin: auto;
  border: 2px solid #b4b39d;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 15px;

  p.input {
    font-size: 35px;
    margin: 0;
    margin-right: 10px;
  }

  p.history {
    /*transform: translate(-13px, -17px);*/
    position: relative;
    height: 10px;
    bottom: 17px;
    margin-right: 14px;
    color: #8b8b7b;
    font-size: 12px;
  }
}

.buttons {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-areas:
    'a1 a2 a3 a4'
    'a5 a6 a7 a8'
    'a9 a10 a11 a12'
    'a13 a14 a15 a16'
    'a17 a17 a18 a16';

  gap: 10px 17px;
  justify-content: center;
}

.btn {
  min-width: 50px;
  min-height: 40px;
  // margin-right: 17px;
  // margin-bottom: 10px;
  text-transform: uppercase;
  background-color: #3a3a3a;
  color: #e1e1e1;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Orbitron', sans-serif;
  border-radius: 8px;
  box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;

  &:nth-child(1),
  &:nth-child(2) {
    background-color: #a72d45;
    box-shadow: 0px 3px 0px 0px #671c2a;
  }

  &:active {
    transform: translate(0px, 3px);
    box-shadow: none;
  }
}
